body {
    margin: 0;
    padding: 0;
}

.maindiv {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
    padding: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.links a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
}

.collegeDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

.collegeDiv a {
    text-decoration: none;
}