.product-container {
  width: 800px;
  margin: 60px auto;

  display: flex;
  gap: 50px;

  padding: 30px;

  background-color: white;

  border-radius: 10px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.product-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.product-details {
  flex: 1;
}

.product-details h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.product-details h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.product-details p {
  margin: 12px 0;
  color: #555;
}

.add-cart-btn {
  margin-top: 20px;

  width: 150px;
  padding: 12px;

  border: none;
  border-radius: 6px;

  background-color: #ff9800;
  color: white;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}

.add-cart-btn:hover {
  background-color: #e68900;
}

.remove{
    margin-left: 5px;
    background-color: rgb(185, 13, 13);
}

.remove:hover{
     background-color: rgb(209, 36, 36);
}

.clear {
    background-color: rgb(46, 46, 75);
}

.clear:hover{
    background-color: #3c3461;
}